.container {
  width: 400px;
  height: 300px;
  background-color: rgba(139, 237, 223, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid white;
}

.recordBtn {
  width: 80px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.534);
  border: 2px solid white;
  border-radius: 50%;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.recording {
  background-color: rgba(23, 99, 93, 1);
}

.play {
  background-color: rgba(171, 244, 217, 0.6);
}
